configstore/
enchant/
git/
gtk*
omf/
xm1/
ranger/
karabiner/automatic_backups/
nvim
rstudio/
iterm2/
fish_history
fishd*
doom/config.el
emacs/eshell/
emacs/org-roam.db
emacs/straight/
emacs/transient/
emacs/var/
emacs/bookmarks
emacs/history
emacs/custom.el
emacs/.org-id-locations
emacs/.mc-lists.el
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/undo-fu-session/
emacs/eln-cache/
emacs/pomm
iCanHazShortcut/
espanso/match/nogit.yml
legacy/bookmarks
legacy/recentf
legacy/custom.el
legacy/snippets
legacy/straight/
legacy/pomm
legacy/.org-id-locations
legacy/.mc-lists.el
legacy/*~
rmacs/eshell/
rmacs/org-roam.db
rmacs/straight/
rmacs/transient/
rmacs/var/
rmacs/bookmarks
rmacs/history
rmacs/custom.el
rmacs/.org-id-locations
rmacs/.mc-lists.el
rmacs/projectile-bookmarks.eld
rmacs/recentf
rmacs/undo-fu-session/
rmacs/eln-cache/
rmacs/pomm
rmacs/*~
rmacs/elpa/
rmacs/url/
rmacs/org-persist
rmacs/places
rmacs/projects
rmacs/.persistent-scratch