configstore/
enchant/
git/
gtk*
omf/
xm1/
ranger/
karabiner/
nvim
rstudio/
iterm2/
fish_history
fishd*
doom/config.el
emacs/eshell/
emacs/org-roam.db
emacs/straight/
emacs/transient/
emacs/var/
emacs/bookmarks
emacs/custom.el
emacs/.org-id-locations
emacs/.mc-lists.el