configstore/
enchant/
git/
gtk*
omf/
xm1/
ranger/
karabiner/automatic_backups/
nvim
rstudio/
iterm2/
fish_history
fishd*
doom/config.el
emacs/eshell/
emacs/org-roam.db
emacs/straight/
emacs/transient/
emacs/var/
emacs/bookmarks
emacs/history
emacs/custom.el
emacs/.org-id-locations
emacs/.mc-lists.el
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/undo-fu-session/
emacs/eln-cache/
emacs/pomm
iCanHazShortcut/
