# -*- mode: snippet -*-
# name: beamer slide notes
# group: beamer
# key: snote
# --
*** 
:PROPERTIES:
:BEAMER_ENV: note
:END:

$0

** Notes :B_ignoreheading:
:PROPERTIES:
:BEAMER_env: ignoreheading
:END:
